
/* ADD YOUR STYLES HERE */


/*.axis path,*/
/*.axis line {*/
    /*fill: none;*/
    /*stroke: #000;*/
    /*shape-rendering: crispEdges;*/
/*}*/

.y-axis path{
    stroke: none;
    fill: none;
    stroke-width: 0px;
}

.axis text {
    font-family: 'Calibri', sans-serif;
    font-size:10px;
}

.label-text{
    font-family: 'Calibri', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.browser text {
    text-anchor: end;
}

.area {
    font-family: 'Calibri', sans-serif;
    opacity: 0.7;
    clip-path: url(#clip);
}



/****************/
/*  LINE CHART  */
/****************/
.form-control {
    width: 80%;
}
select {
    align-items:center;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000 1px;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x-axis-group path,
.x-axis-group line,
.y-axis-group path,
.y-axis-group line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

.line {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
}

.elev-line {
    fill: none;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke: #1C9A3D;
}
.land-area{
    fill: #c6fbcb;
    stroke-width: 0;
}
.water-area{
    fill: #9fa4f9;
    stroke-width: 0;
}
.water-line {
    fill: none;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke: #1217d3;
}


.dot {
    fill: #1C9A3D;
    stroke: #1C9A3D;
    stroke-width: 3px;
}

.water-dot {
    fill: #1217d3;
}

#active-dot{
    fill-opacity: 1;
    fill:#1217d3;
}

#large-dot{
    fill: #FFFFFF;
    stroke-width: 3px;
    stroke: #1217d3;
}

#inactive-dot{
    fill: #FFFFFF;
    stroke: #b5b5b5;
    stroke-width: 0.5px;
    fill-opacity: .25;
}

#blank-dot{
    fill: #FFFFFF;
    stroke-width: 0px;
    fill-opacity: 0;

}

#last-active-dot{
    fill-opacity: 1;
    fill:#9fa4f9;
}

.tooltip-circle {
    fill: #96AB96;
}


.col-md-4{
    padding-top: 200px;
}

#house{
    height:110px;
}


/* Play Button */
/* Play Button */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

/**********/
/* Replay */
/**********/
#Shape{
    fill: #6b6b6b;
    opacity: 0.5;
    fill-rule: nonzero;
}

#Shape:hover,#Page-1:hover,#Icons-AV:hover{
    fill: #000000;
    pointer-events: all;
    stroke-width: 10px;
    cursor: pointer;
}

#Shape2{
    fill:white;
    opacity:0;
}

#Shape2:hover{
    fill:green;
    opacity:0.5;
}

/************/
/* Fullpage */
/************/

/*Autoscroll fixer?*/
.fp-slidesContainer {
    width: 100%!important;
    transform: none!important;
}

.fp-slide {
    width: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all .7s ease-in-out;
}

.fp-slide.active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.sectionJackie{
    background-image: url(../img/bg.png),url(../img/IMG_7742.JPG);
}
.section{
    background-size: cover;
}

.centered-img{
    margin:auto;
}
#small-size-img, .small-size-img{
    width:25%;
}

#flood-vis-section{
    background-image: url(../img/bg.png),url(../img/IMG_7515.JPG);
}
.vis-wrapper{
    padding-top:20px;
    margin-left:30px;
    margin-right:30px;
    background: rgba(255,255,255,0.72);
}
/*.fp-slide{*/
    /*position:relative;*/
/*}*/
/*.fp-controlArrow.fp-prev {*/
    /*left:100px;*/
/*}*/
/*.fp-controlArrow.fp-next{*/
    /*right:30px;*/
/*}*/


/************/
/* Carousel */
/************/

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}
.item:nth-child(1) {
    background: #74C390;
}
.item:nth-child(2) {
    background: #51BCE8;
}
.item:nth-child(3) {
    background: #E46653;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, .0001) 100%);
}
.carousel-control.right{
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.25) 100%);
}

#map-info-text{
    font-size: 30px;
}
/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {*/
    /*box-sizing: border-box;*/
    /*display: inline;*/
    /*font-size: 10px;*/
    /*width: 100%;*/
    /*line-height: 1;*/
    /*color: rgba(0, 0, 0, 0.8);*/
    /*content: "\25BC";*/
    /*position: absolute;*/
    /*text-align: center;*/
/*}*/

/*!* Style northward tooltips differently *!*/
/*.d3-tip.n:after {*/
    /*margin: -1px 0 0 0;*/
    /*top: 100%;*/
    /*left: 0;*/
/*}*/




