/* Image CSS */
image-orientation: from-image;

/* --------------------------------------- */

a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */

.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}
h1{
    font-size: 6em;
}

h4{
    font-size: 1.5em;
}


.section{
    text-align:center;
}


/* Centered texts in each section
* --------------------------------------- */
.section{
    text-align:center;
    overflow: hidden;
}
#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}
/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer {
    position: relative;
    z-index: 4;
    width: 100%;
}

#section0 blockquote {
    text-align: left;
    width: 50%;
    margin-left: 25%;
    color: #444;
}

#section0 blockquote footer {
    color: #444;
}

#flood-history p {
    text-align: left;
    width: 66%;
    margin-left: 16.5%;
}

#flood-history blockquote {
    text-align: left;
    width: 75%;
    margin-left: 25%;
}

#flood-history blockquote footer {
    margin-left: inherit;
}




.jumbo{
    background: rgba(200, 200, 200, 0.75);
    padding-top: 5%;
}

.jumbotron {
    background: rgb(200, 200, 200); /* This is for ie8 and below */
    background: rgba(200, 200, 200, 0.75);
    color: whitesmoke;
}

.jumbotron h4 {
    color: #444;
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
    overflow: hidden;
}


.highlight {
    background-color: #FFFF00;
}

body {
  font-family: 'Roboto', sans-serif;
    color:whitesmoke;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
    color: #888;
    font-weight: 300;
}

#station-map {
    width: 100%;
    height: 600px;
}

.post-content {
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -50%;
    text-align:center;
    position: relative;
    width:70%;
}

.shrink{
    width: 76%;
}

/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
    fill: none;
    stroke: #444;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 1em;
    fill: #444;
}

#flood-history .axis path,
.axis line {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
}
#flood-history .axis text {
    font-size: 1em;
    fill: whitesmoke;
}

.tick line{
    stroke: #444;
}

.line {
    stroke: #3c4798;
    stroke-width: 3px;
    fill: none;
}

.bar {
    fill: #3c4798;
    stroke: none;
}

.flowrate-line {
    stroke-width: 3px;
    stroke: #444;
    fill: none;
}

.flowrate-line-label{
    fill: #444;
}

.hur-line{
    stroke: #444;
}

.hur-line-label{
    color: #444;
}


.tooltip-circle {
    fill: #96AB96;
}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.header div{
    position: absolute;
}


rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.stick{
    stroke: black;
    stroke-width: 3px;
    fill: white;
}

.wide-stick{
    fill: rgba(255 ,255, 255, .75);
}

.crest-rect{

}

.stage-line{
    stroke-width: 1.5px;
    fill: none;
}

.stage-line-label{
    fill: whitesmoke;
}



.legend rect {
    fill:white;
    opacity:0.6;
}

.fp-slidesNav ul li a span{
    color: whitesmoke;
    background: whitesmoke;
}

.padding{
    margin-left: 10%;
    margin-right: 10%;
}

.directions{
    color: #444;
    text-align: left;
}

