
/* Video wrap */
.bv-video-wrap {
    width: 100%;
    height: 100%;
    /* Please note this is only required if you with to add the
    '.bv-video-wrap--ready' class on the 'onReady' event */
    display: none;
}

.bv-video-wrap--ready {
    display: block;
}

.bv-video-wrap::before {
    /* Optional overlay */
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* Video object */
.bv-video {
    width: 100%;
    height: 100%;
    z-index: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
    color: #888;
    font-weight: 300;
}

#station-map {
    width: 100%;
    height: 600px;
}

.post-content {
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -50%;
    text-align:center;
    position: relative;
    width:70%;
}

.shrink{
    width: 76%;
}

/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

.line {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
}

.tooltip-circle {
    fill: #96AB96;
}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.header div{
    position: absolute;
}

#main-hero{
    z-index: 11;
    color: white;
    width: 100%;
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}